<div class="container">
  <div class="row">
    <%= render 'devise/registrations/password' %>
    <%= render 'devise/registrations/profile' %>
  </div>
</div>

<div class="mainbox col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading" id="delete-account">
      <div class="panel-title">Delete account</div>
    </div>
    <div class="panel-body">
      <p>Your account cannot be reverted once deleted.</p>
      <%= button_to "Delete my account", registration_path(resource_name),
        data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
