<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table">
      <caption><h2>Wikis</h2></caption>
      <% @wikis.public_wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki %></td>
          <% if policy(wiki).update? %>
            <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
            <td><%= link_to 'Delete', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<% if policy(Wiki.new).create? %>
  <div class="row">
    <div class="col-md-offset-3">
      <%= link_to 'New wiki', new_wiki_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
