<div class="col-md-6">
  <h4><%= @wiki.title %></h4>
</div>

<div class="mainbox col-md-8">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Collaborators</div>
    </div>
    <div class="panel-body">
      <div id="collaborator-list">
        <% @wiki.collaborators.each do |user| %>
          <%= render partial: 'wikis/collaborator', locals: { user: user } %>
        <% end %>
      </div>
      <div id='search-collaborator-form'>
        <%= render partial: 'wikis/search_form', locals: { wiki: @wiki } %>
      </div>
    </div>
  </div>
</div>
